<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= jobtitle %> jobs in <%= citytitle %>
    </title>
    <meta name="title"
        content="Find high paying <%= jobtitle %> jobs in <%= citytitle %> in 1000+ start-ups and AAA studios. Get direct introduction with top gaming companies for <%= jobtitle %> roles in <%= citytitle %>">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <div class="header">
            <div class="logo"><a href="/"><img src="/imgs/outscal logo.png" alt="outscal logo"></a></div>
            <center>
                <div class="htitle">
                    <h1>
                        <%= jobtitle %> Jobs in <%= citytitle %>
                    </h1>
                    <p>Want to level up you career? view the best jobs and apply <br>
                        to top jobs in the gaming industry</p>
                    <h2>Showing <%=numberdata + 1%>-<%= numberdata + data.length %> out of <%= datanumber %>
                                    <%= jobtitle %> Jobs in <%= citytitle %>
                    </h2>
                </div>
            </center>
        </div>
    </header>
    <div class="largebox">
        <div class="mbox">
            <div class="rbox">
                <%data.forEach((d)=>{%>
                    <div class="sbox">
                        <div class="srbox">
                            <div class="srubox">
                                <div class="sruimg"><img src=<%=d.Logo_link%> alt="Career in <%= d.Company %>"></div>
                                <div class="srutitle">
                                    <h3>
                                        <%= d.Job_title %> in <%= d.Company %>
                                    </h3>
                                    <h4>Requires Skils: OPPS, Unity, C++</h4>
                                    <p>Jobs available in <%= d.City_Remote %>
                                    </p>
                                </div>
                            </div>
                            <div class="srdbox">
                                <p class="details-cut">
                                    <%= d.Job_Description %>
                                </p>
                            </div>
                        </div>
                        <div class="linebox"></div>
                        <div class="slbox">
                            <a class="slboxlink" href="/jobs/page/<%= d._id %>">
                                <div class="linktext">Apply Now</div>
                                <div class="linkimg"><img src="/imgs/arrow.png" alt=""></div>
                            </a>
                        </div>
                    </div>
                    <%})%>
                        <div class="next">
                            <% if (jobtitle!="" ){%>
                                <% if(page> 1) { %>
                                    <a href="/jobs/<%= jobtitle %>-jobs-in-<%= citytitle %>?page=<%= page-1 %>"
                                        class="npage">Back</a>
                                    <% } %>
                                        <a href="/jobs/<%= jobtitle %>-jobs-in-<%= citytitle %>?page=1"
                                            class="npage">First</a>
                                        <% for(let i=page; i <=page+6 && i<=numberofPages; i++) { %>
                                            <a href="/jobs/<%= jobtitle %>-jobs-in-<%= citytitle %>?page=<%=i%>"
                                                class="npage">
                                                <%= i %>
                                            </a>
                                            <% } %>
                                                <% if(page < numberofPages) { %>
                                                    <a href="/jobs/<%= jobtitle %>-jobs-in-<%= citytitle %>?page=<%= page+1 %>"
                                                        class="npage">Next</a>
                                                    <% } %>
                                                        <% } else{ %>
                                                            <% if(page> 1) { %>
                                                                <a href="/jobs/jobs-in-<%= citytitle %>?page=<%= page-1 %>"
                                                                    class="npage">Back</a>
                                                                <% } %>
                                                                    <a href="/jobs/jobs-in-<%= citytitle %>?page=1"
                                                                        class="npage">First</a>
                                                                    <% for(let i=page; i <=page+6 && i<=numberofPages;
                                                                        i++) { %>
                                                                        <a href="/jobs/jobs-in-<%= citytitle %>?page=<%=i%>"
                                                                            class="npage">
                                                                            <%= i %>
                                                                        </a>
                                                                        <% } %>
                                                                            <% if(page < numberofPages) { %>
                                                                                <a href="/jobs/jobs-in-<%= citytitle %>?page=<%= page+1 %>"
                                                                                    class="npage">Next</a>
                                                                                <% } %>

                                                                                    <% } %>
                        </div>
            </div>
            <div class="lbox">
                <div class="lboxtitle">
                    <h3>Other Gaming Jobs in <%= citytitle %>
                    </h3>
                </div>
                <div class="lboxlist">
                    <%data2.forEach((d)=>{%>
                        <li><a href="/jobs/page/<%= d._id %>">
                                <%= d.Job_title %> jobs in <%= d.City_Remote %>
                            </a></li>
                        <%})%>
                </div>
            </div>
        </div>
        <footer>
            <div class="footer">
                <div class="ftitle">
                    <h3>
                        <%= jobtitle %> Jobs in Across the Globe
                    </h3>
                </div>
                <div class="flinks">
                    <%data3.forEach((d)=>{%>
                        <div class="flink">
                            <a href="/jobs/page/<%= d._id %>" class="sflink">
                                <%= d.Job_title %> jobs in <%= d.City_Remote %>
                            </a> |
                        </div>
                        <%})%>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>