<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <div class="header">
            <div class="logo"><a href="/"><img src="/imgs/outscal logo.png" alt="outscal logo"></a></div>
            <center>
                <div class="htitle">
                    <h1>Unity Developer Jobs in <%= data.City_Formula %>
                    </h1>
                    <p>Want to level up you career? view the best jobs and apply <br>
                        to top jobs in the gaming industry</p>
                    <h2>Showing 1-10 out of 2227 Unity Developer Jobs In Bangalore</h2>
                </div>
            </center>
        </div>
    </header>
    <div class="largebox">
        <div class="mbox">
            <div class="rbox">
                <%data.forEach((d)=>{%>
                    <div class="sbox">
                        <div class="srbox">
                            <div class="srubox">
                                <div class="sruimg"><img src="/imgs/1.png" alt=""></div>
                                <div class="srutitle">
                                    <h3>
                                        <%= d.Position %> in <%= d.Company %>
                                    </h3>
                                    <h4>Requires Skils: OPPS, Unity, C++</h4>
                                    <p>Jobs available in <%= d.City_Formula %>
                                    </p>
                                </div>
                            </div>
                            <div class="srdbox">
                                <p class="details-cut">
                                    <%= d.Details %>
                                </p>
                            </div>
                        </div>
                        <div class="linebox"></div>
                        <div class="slbox">
                            <a class="slboxlink" href="">
                                <div class="linktext">Apply Now</div>
                                <div class="linkimg"><img src="/imgs/arrow.png" alt=""></div>
                            </a>
                        </div>
                    </div>
                    <%})%>
                        <div class="next">
                            <a href="" class="npage active">1</a>
                            <a href="" class="npage">2</a>
                            <a href="" class="npage">3</a>
                            <a href="" class="npage">4</a>
                            <a href="" class="npage">5</a>
                            <a href="" class="npage">6</a>
                            <a href="" class="npage">7</a>
                            <a href="" class="npage">8</a>
                            <a href="" class="npage">9</a>
                            <a href="" class="npage">10</a>
                            <a href="" class="npage">Next >></a>
                        </div>
            </div>
            <div class="lbox">
                <div class="lboxtitle">
                    <h3>Other Gaming Jobs in Bangalore</h3>
                </div>
                <div class="lboxlist">
                    <li>Game Designer Jobs In Bangalore</li>
                    <li>Game Designer Jobs In Bangalore</li>
                    <li>Game Designer Jobs In Bangalore</li>
                    <li>Game Designer Jobs In Bangalore</li>
                    <li>Game Designer Jobs In Bangalore</li>
                    <li>Game Designer Jobs In Bangalore</li>
                    <li>Game Designer Jobs In Bangalore</li>
                    <li>Game Designer Jobs In Bangalore</li>
                    <li>Game Designer Jobs In Bangalore</li>
                    <li>Game Designer Jobs In Bangalore</li>
                </div>
            </div>
        </div>
        <footer>
            <div class="footer">
                <div class="ftitle">
                    <h3>Unity Developer Jobs in Across the Globe</h3>
                </div>
                <div class="flinks">
                    <div class="flink">
                        <a href="" class="sflink">Unity Developers In Delhi</a> |
                    </div>
                    <div class="flink">
                        <a href="" class="sflink">Unity Developers In Delhi</a> |
                    </div>
                    <div class="flink">
                        <a href="" class="sflink">Unity Developers In Delhi</a> |
                    </div>
                    <div class="flink">
                        <a href="" class="sflink">Unity Developers In Delhi</a> |
                    </div>
                    <div class="flink">
                        <a href="" class="sflink">Unity Developers In Delhi</a> |
                    </div>
                    <div class="flink">
                        <a href="" class="sflink">Unity Developers In Delhi</a> |
                    </div>
                    <div class="flink">
                        <a href="" class="sflink">Unity Developers In Delhi</a> |
                    </div>
                    <div class="flink">
                        <a href="" class="sflink">Unity Developers In Delhi</a> |
                    </div>
                    <div class="flink">
                        <a href="" class="sflink">Unity Developers In Delhi</a> |
                    </div>
                    <div class="flink">
                        <a href="" class="sflink">Unity Developers In Delhi</a> |
                    </div>
                    <div class="flink">
                        <a href="" class="sflink">Unity Developers In Delhi</a> |
                    </div>
                    <div class="flink">
                        <a href="" class="sflink">Unity Developers In Delhi</a> |
                    </div>
                    <div class="flink">
                        <a href="" class="sflink">Unity Developers In Delhi</a> |
                    </div>
                    <div class="flink">
                        <a href="" class="sflink">Unity Developers In Delhi</a> |
                    </div>
                    <div class="flink">
                        <a href="" class="sflink">Unity Developers In Delhi</a> |
                    </div>
                    <div class="flink">
                        <a href="" class="sflink">Unity Developers In Delhi</a> |
                    </div>
                    <div class="flink">
                        <a href="" class="sflink">Unity Developers In Delhi</a> |
                    </div>
                    <div class="flink">
                        <a href="" class="sflink">Unity Developers In Delhi</a> |
                    </div>
                    <div class="flink">
                        <a href="" class="sflink">Unity Developers In Delhi</a> |
                    </div>
                    <div class="flink">
                        <a href="" class="sflink">Unity Developers In Delhi</a> |
                    </div>
                    <div class="flink">
                        <a href="" class="sflink">Unity Developers In Delhi</a> |
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>